.lead__title {
  max-width: 720px;
  margin: auto;
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
}

@media screen and (max-width: 768px) {
  .lead__title {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 720px) {
  .lead__title {
    font-size: calc(40px + (96 - 40) * ((100vw - 320px) / (720 - 320)));
    line-height: 1.1;
  }
}
