.lead__image-wrapper {
  margin: 0;
  padding: 0;
  margin-top: 64px;
}

@media screen and (max-width: 1024px) {
  .lead__image-wrapper {
    margin-top: 56px;
  }
}

@media screen and (max-width: 320px) {
  .lead__image-wrapper {
    margin-top: 40px;
  }
}
