.cover__wrapper {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  max-width: 560px;
  width: 100%;
  height: auto;
  color: #fff;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 560px) {
  .cover__wrapper {
    max-width: calc(250px + (560 - 250) * ((100vw - 320px) / (560 - 320)));
  }
}

@media screen and (max-width: 320px) {
  .cover__wrapper {
    max-width: calc(100% - 32px);
    width: 100%;
    padding: 0 16px;
  }
}
