.header__lang-list {
  display: flex;
  padding: 0;
  padding-top: 20px;
  margin: 0;
  list-style: none;
  gap: 18px;
}

@media screen and(max-width:320px) {
  .header__lang-list{
    padding-top: 11px;
  }
}