.cover__title {
  margin: 0;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  text-align: center;
}

@media screen and (max-width: 560px) {
  .cover__title {
    font-size: calc(32px + (72 - 32) * ((100vw - 320px) / (560 - 320)));
    line-height: 1.1;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }
}
